body, html {
    margin: 0;
    padding: 0;
}

#world-label-container > p {
    position: absolute;
    cursor: pointer;
    color: #fff;
    font-size: x-small;
    font-family: Helvetica, sans-serif;
}